.container {
    width: 735px;
    height: 735px;
    margin: auto;
    border: 1px solid black;
    display: flex;
    flex-direction: column;

}
.row {
    display: flex;
    flex: 1;
}
.cell {
    box-sizing: border-box;
    border: 1px solid black;
    flex: 1;
}
.select-buttons {
    margin: 10px 0;
    text-align: center;
}
button {
    padding: 8px 16px;
    margin: 0 10px;
    font-size: 16px;
    background-color: pink;
    border: 0;
    border-radius: 5px;
    cursor: pointer;
}