.container {
    width: 1024px;
    height: 1024px;
    margin: auto;
    background-color: pink;
    display: flex;
    flex-direction: column;

}
.row {
    display: flex;
    flex: 1;
}
.column {
    background-color: black;
    flex: 1;
}